body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    margin: 0;
    background-image: linear-gradient(to right, rgb(201, 176, 226),rgb(159, 190, 191),rgb(206, 230, 196),rgb(231, 181, 181),rgb(206, 230, 196),rgb(159, 190, 191),rgb(201, 176, 226));;
  }

    h1 {
      color: #333;
    }
    
    form {
        background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(195, 230, 234));
      
      padding: 40px;
      border-radius: 12px;
      font-size: 20px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      align-items: center;
      box-shadow: 0 0 20px rgba(9, 9, 9, 9.2);
    }
    input {
      margin-bottom: 2%;
      align-items: center;
      border-radius: 12px;
      height: 20px;
  
    }
  
    button{
      
      padding-left: 10px;
      margin-top: 20px;
      margin-left: 70px;
      border-radius: 5%;
      height: 30px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 15px;
      height: 40px;
      background-color: transparent;
      
    }
    
    ul {
      list-style: none;
      width: 300px;
      padding: 0;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.961);
      background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(195, 230, 234));
      border-radius: 12px; 
      margin: 20px; 
  }
    
    li {
        
      background-color: #cfcfcf;
      padding: 10px;
      margin: 5px 0;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
      font-size: 18px; 
      color: #000000; 
          
      
    }
    li:before {
      content: "\2022"; 
      color: #54175a;
      margin-right: 10px; 
  }
  a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #2d73bf;
    text-decoration: none;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: color 0.3s ease; /* Transição suave de cor ao passar o mouse */
}

a:hover {
    color: #924596; /* Cor alterada ao passar o mouse */
}

p {
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

#deleteForm{
    text-align: center;
    width: 100px;
    height: 0px;
    display: flex;

}

#deletB {
    margin: 0 auto;
    height: max-content;
    width: 100%;
    height: 80px;
    border: none;
    background-color: transparent;

}